.container-fluid {
  max-width: 890px;
}

#graphic {
  padding-top: 60px;
}




#sections {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  top: 0px;
  z-index: 90;
  padding-bottom: 200px;
}


#afr-map {
  width: 100%;
  height: auto;
  position: relative;
  margin:0 auto;
}

#afr-map img{
  position: absolute;
  left:0;


  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;

  -webkit-transition: transform 2s ease-in-out;
  -moz-transition: transform 2s ease-in-out;
  -o-transition: transform 2s ease-in-out;
  transition: transform 2s ease-in-out;
}


@keyframes afrFadeInOut {
  0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

#afr-map img.top {
animation-name: afrFadeInOut;
animation-timing-function: ease-in;
animation-iteration-count: 1;
animation-duration: 2s;
animation-direction: normal;
/*animation-fill-mode: forwards;*/
}

#afr-map img.top:hover {
  transform: translate(-20%, -40%) scale(2);
}
