body {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
}

strong {
  font-weight: 400;
  color: #66c2a5;
}

/*Width of main container*/
.container {
  max-width: 690px;
  padding-right: 15px; /* normal 15 px + 25 px for breadcrumbs.*/
}

/*Navbar on the right, for breadcrumbs*/
.navbar-fixed-right {
  position: fixed;
}

/*Row containing ALL the elements (sections, vis., etc.)*/
#graphic {
  /*border: 11px solid slateblue;*/
  /*opacity: 50%;
  background-color: #ffffdd;*/
  padding-top: 60px;
}

/*Sections with the scrolling text on the side*/
#sections {
  position: relative;
  display: inline-block;
  top: 0px;
  z-index: 90;
  /*margin-left: 10px;*/
  /*margin-right: 20px;*/
  padding-bottom: 200px;
}

.paragraph {
  margin-bottom: 20px;
}

.overlay-text {
  text-shadow: 1px 1px #fff;
}

.step {
  margin-bottom: 200px;
  font-weight: 300;
  /*color: #333;*/
  font-size: 18px;
  line-height: 23px;
  color: #767678;
}

#sections .title {
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 2px;
  color: #262626;
  text-shadow: 2px 2px #fff;
  line-height: 1.2em;
}

#extra-space {
  height: 300px;
}

#vis {
  display: inline-block;
  position: fixed; /* --> non-responsiveness, but needed to correctly be placed. */
  top: 60px;
  z-index: 1;
  margin-left: 0;
  /*background-color: red;*/
}

#vis .title {
  text-anchor: middle;
}


.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}
