body{
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  color: #333;
}

.paragraph {
  margin-bottom: 20px;
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  color: #333;
}

#intro .title, .subtitle{
  font-family: "Lora", serif;
  text-align: center;
}

#intro .title{
  font-size: 48px;
    color: #666;
      padding-bottom: 25px;
}

#intro .subtitle{
  font-size: 28px;
    color: #999;
    padding-bottom: 10px;
}

#intro > .step > .paragraph{
  font-size: 20px;
  line-height: 1.25em;
}

#intro-sum .subtitle{
  text-align: left;
}

.summary-list{
    padding-left: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 2px solid #bababa;
    border-bottom: 2px solid #bababa;
    /*font-family: "Lora", serif;*/
    font-size: 22px;
    line-height: 1.25em;
}

.summary-list > li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.accent-red {
  color: #d53e4f;
}

.accent-green {
  color: #66c2a5;
}

#ciText {
  font-family: "Oxygen", sans-serif;
  font-size: 11px;
  font-weight: 300;
  fill: #888;
  text-align: right;
  text-anchor: end;
}

.button {
  cursor: pointer;
}

.pdf {
  font-family: "Oxygen", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #008080;
  margin-top: -20px;
  text-align: right;
}

/* Add >> for links within "motivation section"*/
.pdf a::before {
  content: "\f101  ";
  font-family: 'FontAwesome';
}


.highlight {
  color: #008080;
}


.top-label {
  float: left;
  margin-left: 250px;
  height: 2.1em;
  color: #888;
}

.dot {
  stroke: #333;
  stroke-width: 0.5;
}

.dotMask {
  stroke: #fff;
  fill: #fff;
  stroke-width: 2;
}

.natl {
  stroke: #333;
  stroke-width: 1;
}

.natl2010 {
  stroke: #666;
  stroke-width: 1;
}

.change {
  stroke: #333;
  stroke-width: 0.5;
}


.ci {
  stroke: #888;
  stroke-width: 5;
}

/*.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}*/

.grid path {
  stroke-width: 0;
}


.axis path {
  display:none;
}
.axis text {
  font-size: 13px;
  fill: #333;
}

.x.axis line {
  stroke: lightgrey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.x.label {
  fill: #999;
  font-size: 18px;
  font-family: "Oxygen", sans-serif;
  font-weight: 300;

}

.y.axis line {
  display:none;
}

.natl-value {
  font-size: 24px;
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
  fill: #fff;
  text-anchor: middle;
}

.natl-annot {
  text-anchor: end;
  font-family: "Oxygen", sans-serif;
  font-size: 16px;
  fill: #555;
}

.natl-annot2010 {
  text-anchor: start;
  font-size: 28px;
  font-family: "Oxygen", sans-serif;
}

.val-labels text{
  text-anchor: end;
  fill: #555;
}

.rw-map {
  display: block;
margin-left: auto;
margin-right: auto
}
