body{
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  color: #333;
}

.paragraph {
  margin-bottom: 20px;
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  color: #333;
}

.top-label {
  float: left;
  margin-left: 250px;
  height: 2.1em;
  color: #888;
}

.dot {
  stroke: #333;
  stroke-width: 0.5;
}

.dotMask {
  stroke: #fff;
  fill: #fff;
  stroke-width: 2;
}

.natl {
  stroke: #333;
  stroke-width: 1;
}

.natl2010 {
  stroke: #666;
  stroke-width: 1;
}

.change {
  stroke: #333;
  stroke-width: 0.5;
}

/*.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}*/

.grid path {
  stroke-width: 0;
}


.axis path {
  display:none;
}
.axis text {
  font-size: 13px;
  fill: #333;
}

.x.axis line {
  stroke: lightgrey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.x.label {
  fill: #999;
  font-size: 18px;
  font-family: "Oxygen", sans-serif;
  font-weight: 300;

}

.y.axis line {
  display:none;
}

.natl-value {
  font-size: 24px;
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
  fill: #fff;
  text-anchor: middle;
}

.natl-annot {
  text-anchor: end;
  font-family: "Oxygen", sans-serif;
  font-size: 16px;
  fill: #555;
}

.natl-annot2010 {
  text-anchor: start;
  font-size: 28px;
  font-family: "Oxygen", sans-serif;
}

.val-labels text{
  text-anchor: end;
  fill: #555;
}

.rw-map {
  display: block;
margin-left: auto;
margin-right: auto
}
